body {
    text-align: center;
    font-size : 38px;
    background-color: #e3e3e3e3;
}

button {
    margin: 20px;
    padding: 15px;
    background-color : #e6e6e6;
    font-size : 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color : #333333;
    color : #ffffff;
}

h1 {
    color : #0f0e0e;
}

.result {
    color : #f64f01e1;
}
#question {
    color : #222222;
}